@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}
h1 {
  font-size: 70px;
  font-weight: bolt;
  text-align: center;
}
h2 {
   font-size: 40px;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  
}
nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 22px;
  margin-right: 1em;
}
.head-search-bar {
  height: 50px;
  display: flex;
  align-items: center;
}
.npm-logo {
width: 80px;  
}
.magni {
width: 25px;
padding: 5px;
}
form {
 background-color:rgba(0,0,0,.05);
  height: 40px;
  width: 900px;
  display: flex;
  justify-content: space-arround;
  margin: 0 auto;
}
.search-bar-input {
    background-color: rgba(0,0,0,.05);
    border-style: none;
    width: 900px;
    padding-left: 10px ;
    font-size: 14px; 
}
.search-button {
  background-color:#fb3e44;
  color: white;
  padding-right: 25px;
  font-size: 15px;
}
.link-b1 {
  border: 1px solid lightgray;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
}  
.link-b2 {
   border: 1px solid lightgray;
  color: black ;
  text-decoration: none; 
  padding: 25px 15px;
}
#section1 {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section1 article { 
  width: 28em ;
  text-align: center ;
}
/* "See plans" button background color: #FB3B49
"See plans" button box shadow: 8px 8px 0 rgba(251,59,73,.2) */ 
#section1 div {
margin-top: 40px;  
}  
.link-b3 {
background-color: #FB3B49;
box-shadow: 8px 8px 0 rgba(251,59,73,.2);
padding: 5px 20px;
color: white;
text-decoration: none;
}
.link-b4 {
background-color:#FFF ;
text-decoration: none;
padding: 5px 20px;
color: black;
margin-left: 2.5em;
}
.hexagon-logo {
width: 200px;
}
/* ID sections */
 #section2 {
 height: 600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#section2 h2 {
    text-align: center;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin-top: 60px;
}
#section2 article {
width: 600px;
text-align: center;
 } 
#section3 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
#section3 h3 {
 color: #ED1C24;
}
#section3 > div {
width: 14em;
}
/* maybe all in 1 later for the logos*/

.zero { 
height: 40px;
margin-left: 60px;
}
.team {
height: 40px;
margin-left: 60px;
}
.familiar {
height: 40px;
margin-left: 60px;
}
.npm {
height: 40px;
margin-left: 60px;  
}
footer { 
 display:flex;
 justify-content: center;
 margin-bottom: 60px; 
}
footer a {
background-color: black;
box-shadow: 8px 8px 0 rgba(128,83,35,.2);
padding: 10px 40px;
color: white;
text-decoration: none;
}